@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-blink {
  animation: blink 1s step-end infinite;
}